<h1>Create Building</h1>

<div class="form__group field">
    <input type="number" class="form__field" placeholder="Name" name="name" id='name' required />
    <label for="name" class="form__label">Building Code</label>
</div>
<div class="form__group field">
    <input type="number" class="form__field" placeholder="Name" name="name" id='name' required />
    <label for="name" class="form__label">Name</label>
</div>
<div class="form__group field">
    <input type="text" class="form__field" placeholder="Name" name="name" id='name' required />
    <label for="name" class="form__label">Description</label>
</div>
<div class="form__group field">
    <input type="text" class="form__field" placeholder="Name" name="name" id='name' required />
    <label for="name" class="form__label">Length</label>
</div>
<div class="form__group field">
    <input type="text" class="form__field" placeholder="Name" name="name" id='name' required />
    <label for="name" class="form__label">Width</label>
</div>

<div>
    <button>Create</button>
</div>
