<h1>Create Floor</h1>
<div class="form__group field">
    <input type="number" class="form__field" placeholder="Name" name="name" id='name' required />
    <label for="name" class="form__label">FloorID</label>
</div>
<div class="form__group field">
    <input type="number" class="form__field" placeholder="Name" name="name" id='name' required />
    <label for="name" class="form__label">FloorNumber</label>
</div>
<div class="form__group field">
    <input type="text" class="form__field" placeholder="Name" name="name" id='name' required />
    <label for="name" class="form__label">Description</label>
</div>
<div class="form__group field">
    <select class="form_select">
        <option value="">Select a building</option>
    </select>
</div>
<div>
    <button>Create</button>
</div>
