<h1>Create Floor</h1>

<form [formGroup]="createForm" (ngSubmit)="onSubmint()">
    <div class="form__group field">
        <input type="number" class="form__field" min="0"  id='floorID' formControlName="floorID" required/>
        <label for="floorID" class="form__label">FloorID</label>
    </div>
    <div class="form__group field">
        <input type="number" class="form__field" min="0" id='floorNumber' formControlName="floorNumber" required/>
        <label for="floorNumber" class="form__label">FloorNumber</label>
    </div>
    <div class="form__group field">
        <input type="text" class="form__field"  id='floorDescription'  formControlName="floorDescription"/>
        <label for="floorDescription" class="form__label">Description</label>
    </div>
    <div class="form__group field">
        <select class="form_select" formControlName="buildingCode">
            <option value="">Select a building</option>
            <option *ngFor="let building of buildings" [value]="building.buildingCode">{{ building.buildingCode }}</option>
        </select>
    </div>
    <div>
        <button>Create</button>
    </div>
</form>
