<div class="container">
    <div class="login-box">
        <h1 class="title">Login</h1>

        <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form__group field">
                <input type="text" class="form__field" id='email' formControlName="email" />
                <label for="email" class="form__label">Email</label>
            </div>
            <div class="form__group field">
                <input type="password" class="form__field" id='password' formControlName="password" />
                <label for="password" class="form__label">Password</label>
            </div>
            <button>Submit</button>
        </form>

        <a class="link" type="button" [routerLink]="['/auth/register']">Don't have an account yet?</a>
    </div>
</div>