<h1>Shortest Path</h1>

<div class="selectPlaces">
    <select [(ngModel)]="building1Code" (change)="listRooms1()">
        <option value="">Select the origin building</option>
        <option *ngFor="let building of buildings" [value]="building.buildingCode">{{ building.buildingCode }}</option>
    </select>

    <select [(ngModel)]="building2Code" (change)="listRooms2()">
        <option value="">Select the destination building</option>
        <option *ngFor="let building of buildings" [value]="building.buildingCode">{{ building.buildingCode }}</option>
    </select>
    <div>

    </div>
    <select [(ngModel)]="roomNameOrig">
        <option value="">Select origin room</option>
        <option *ngFor="let room of rooms1" [value]="room.roomName">{{ room.roomName }}</option>
    </select>

    <select [(ngModel)]="roomNameDest">
        <option value="">Select destination room</option>
        <option *ngFor="let room of rooms2" [value]="room.roomName">{{ room.roomName }}</option>
    </select>
</div>
<div>
  <button (click)="ngOnSubmit()">Submit</button>
</div>

<div class="display-path">
    <h2>Path</h2>
    <p>{{pathToShow}}</p>

</div>

