<h1>Pending Tasks</h1>
<div>
  <table>
    <thead>
    <tr class="table100-head">
      <th class="column1">Id</th>
      <th class="column2">Description</th>
      <th class="column3">Requester</th>
      <th class="column4">Type</th>
      <th class="column5"></th>
      <th class="column6"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let task of tasks">
      <td class="column1">{{ task.id }}</td>
      <td class="column2">{{ task.taskDescription }}</td>
      <td class="column3">{{ task.taskRequester }}</td>
      <td class="column4">{{ task.taskType }}</td>
      <td><button class="accept-button" (click)="acceptTask(task.id)">Accept</button></td>
      <td><button class="deny-button" (click)="denyTask(task.id)">Deny</button></td>
    </tr>
    </tbody>
  </table>
</div>
