<div class="container">
    <div class="login-box">
        <h1 class="title">Create an account</h1>

        <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form__group field">
                <input type="text" class="form__field" id='name' formControlName="name" />
                <label for="name" class="form__label">Name</label>
            </div>
            <div class="form__group field">
                <input type="text" class="form__field" id='email' formControlName="email" />
                <label for="email" class="form__label">Email</label>
            </div>
            <div class="form__group field">
                <input type="text" class="form__field" id='phoneNumber' formControlName="phoneNumber" />
                <label for="phoneNumber" class="form__label">Phone Number</label>
            </div>
            <div class="form__group field">
                <input type="text" class="form__field" id='taxPayerNumber' formControlName="taxPayerNumber" />
                <label for="taxPayerNumber" class="form__label">Tax payer number</label>
            </div>
            <div class="form__group field">
                <input type="password" class="form__field" id='password' formControlName="password" />
                <label for="password" class="form__label">Password</label>
            </div>
            <div class="privacy">
                <input type="checkbox" id="checkbox" (change)="updatePrivacy($event)" />
                <label for="checkbox">I confirm that I have read the <a
                        href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley">privacy
                        policy</a></label>
            </div>
            <button>Submit</button>
        </form>

        <a class="link" type="button" [routerLink]="['/auth/login']">Already have an account?</a>
    </div>
</div>
