<h1>Create Robot</h1>
<form [formGroup]="createForm" (ngSubmit)="onSubmint()">
    <div class="form__group field">
        <input type="text" class="form__field" name="Code" id='Code' formControlName="code" required/>
        <label for="Code" class="form__label">Code</label>
    </div>
    <div class="form__group field">
        <input type="text" class="form__field" name="Nickname" id='Nickname' formControlName="nickname" required/>
        <label for="Nickname" class="form__label">Nickname</label>
    </div>
    <div class="form__group field">
        <input type="text" class="form__field" name="SerialNumber" id='SerialNumber' formControlName="serialNumber" required/>
        <label for="SerialNumber" class="form__label">Serial Number</label>
    </div>
    <div class="form__group field">
        <input type="text" class="form__field" name="Description" id='Description' formControlName="description" required/>
        <label for="Description" class="form__label">Description</label>
    </div>
    <div class="form__group field">
        <select class="form_select" formControlName="robotTypeID">
            <option value="">Select a robot type</option>
            <option *ngFor="let type of robotTypes" [value]="type.robotTypeID">{{ type.robotTypeID }}</option>
        </select>
    </div>
    <div>
        <button>Create</button>
    </div>
</form>