<h1>Execution Sequence</h1>

<div style="margin-top: 20px;">
<table>
    <thead>
    <tr class="table100-head">
        <th class="column1">ROBOT</th>
        <th class="column2">t1</th>
        <th class="column3">t2</th>
        <th class="column4">t3</th>
        <th class="column5">t4</th>
        <th class="column6">t5</th>
        <th class="column7">t6</th>
        <th class="column8">t7</th>
        <th class="column9">t8</th>
        <th class="column10">t9</th>
        <th class="column11">t10</th>
        <th class="column12">t11</th>
        <th class="column13">t12</th>
        <th class="column14">t13</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let robot of robots">
        <td class="column1">{{robot.code}}</td>
        <td class="column2"></td>
        <td class="column3"></td>
        <td class="column4"></td>
        <td class="column5"></td>
        <td class="column6"></td>
        <td class="column7"></td>
        <td class="column8"></td>
        <td class="column9"></td>
        <td class="column10"></td>
        <td class="column11"></td>
        <td class="column12"></td>
        <td class="column13"></td>
        <td class="column14"></td>
    </tr>
    </tbody>
</table>
</div>
