<h1>Create Robot Type</h1>
<div class="form__group field">
    <input type="text" class="form__field" placeholder="Name" name="name" id='name' required />
    <label for="name" class="form__label">ID</label>
</div>
<div class="form__group field">
    <input type="text" class="form__field" placeholder="Name" name="name" id='name' required />
    <label for="name" class="form__label">Brand</label>
</div>
<div class="form__group field">
    <input type="text" class="form__field" placeholder="Name" name="name" id='name' required />
    <label for="name" class="form__label">Model</label>
</div>
<div class="form__group field">
    <label class="container">Floor surveillance
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      
      <label class="container">Object transport
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
</div>
<div>
    <button>Create</button>
</div>