<h1>Create Task</h1>

<label for="taskType"></label>
<select id="taskType" [(ngModel)]="taskType">
  <option value="Object transport">Object transport</option>
  <option value="Floor surveillance">Floor surveillance</option>
</select>

<form *ngIf="taskType === 'Object transport'" [formGroup]="objectTransportForm" (ngSubmit)="onSubmit()">
    <div class="form__group field">
        <input type="text" class="form__field" name="Description" id='Description' formControlName="Description" required/>
        <label for="Description" class="form__label">Description</label>
    </div>
    <div class="form__group field">
        <label for="PickupRoom" class="form__label">PickupRoom</label>
        <select formControlName="PickupRoom" id="view">
            <option value="">Select a Room</option>
            <option *ngFor="let room of rooms" [value]="room.roomName"> {{
                room.roomName }}
            </option>
        </select>
    </div>
    <div class="form__group field">
        <label for="DeliveryRoom" class="form__label">DeliveryRoom</label>
        <select formControlName="DeliveryRoom" id="view">
            <option value="">Select a Room</option>
            <option *ngFor="let room of rooms" [value]="room.roomName"> {{
                room.roomName }}
            </option>
        </select>
    </div>
    <div class="form__group field">
        <input type="text" class="form__field" name="PickupContact" id='PickupContact' formControlName="PickupContact" required/>
        <label for="PickupContact" class="form__label">PickupContact</label>
    </div>
    <div class="form__group field">
        <input type="text" class="form__field" name="DeliveryContact" id='DeliveryContact' formControlName="DeliveryContact" required/>
        <label for="DeliveryContact" class="form__label">DeliveryContact</label>
    </div>
    <div class="form__group field">
        <input type="number" class="form__field" name="PickupCode" id='PickupCode' formControlName="PickupCode" required/>
        <label for="PickupCode" class="form__label">PickupCode</label>
    </div>
   
    <div>
        <button>Create</button>
    </div>
</form>
  
  <!-- Floor Surveillance Form -->
<form *ngIf="taskType === 'Floor surveillance'" [formGroup]="floorSurveillanceForm" (ngSubmit)="onSubmit()">
    <div class="form__group field">
        <input type="text" class="form__field" name="Description" id='Description' formControlName="Description" required/>
        <label for="Description" class="form__label">Description</label>
    </div>
    <div class="form__group field">
        <label for="Building" class="form__label">Building</label>
        <select formControlName="buildingCode" (change)="listFloors()" id="view">
            <option value="">Select a building</option>
            <option *ngFor="let building of buildings" [value]="building.buildingCode"> {{
                building.buildingCode }}
            </option>
        </select>
    </div>
    <div class="form__group field">
        <label for="Floor" class="form__label">Floor</label>
        <select formControlName="floorId" (change)="listRoomsByFloor()  "id="view">
            <option value="">Select a Floor</option>
            <option *ngFor="let floor of floors" [value]="floor.floorId"> {{ floor.floorNumber }}
            </option>
        </select>
    </div>
    <div class="form__group field">
        <label for="PickupRoom" class="form__label">PickupRoom</label>
        <select formControlName="PickupRoom" id="view">
            <option value="">Select a Room</option>
            <option *ngFor="let room1 of floorsRoom" [value]="room1"> {{
                room1 }}
            </option>
        </select>
    </div>
    <div class="form__group field">
        <label for="DeliveryRoom" class="form__label">DeliveryRoom</label>
        <select formControlName="DeliveryRoom" id="view">
            <option value="">Select a Room</option>
            <option *ngFor="let room of floorsRoom" [value]="room"> {{
                room }}
            </option>
        </select>
    </div>
    <div class="form__group field">
        <input type="number" class="form__field" name="Contact" id='Contact' formControlName="Contact" required/>
        <label for="Contact" class="form__label">Contact</label>
    </div>   
    <div>
        <button>Create</button>
    </div>
  
</form>