body {
    margin: 0;
}

#parent {
    position: absolute;
    left: 50.0vw;
    z-index: 1;
}

#views-panel {
    position: absolute;
    left: -50.0vmin;
    top: 1vh;
    z-index: 2;
    width: 100.0vmin;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.5vmin;
    color: white;
}

#help-panel {
    position: absolute;
    left: -50.0vmin;
    top: 20vh;
    z-index: 2;
    width: 100.0vmin;
    font-family: Arial, sans-serif;
    font-size: 1.5vmin;
    color: white;
}

#subwindows-panel {
    position: absolute;
    left: -49.0vw;
    bottom: -81.0vh;
    z-index: 2;
    width: 100.0vmin;
    font-family: Arial, sans-serif;
    font-size: 1.5vmin;
    color: white;
}

table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    z-index: 1;
}

table.views {
    background-color: #70707070;
    text-align: right;
}

table.help {
    width: 50vmin;
    background-color: #70707050;
}

table.subwindows {
    position: absolute;
    background-color: #70707070;
    text-align: right;
}

th,
td {
    overflow: hidden;
    border: 1px solid black;
}

a {
    color: white;
}

#view,
#projection {
    width: 18ch;
    font-size: 1.5vmin;
}

#horizontal,
#vertical,
#distance,
#zoom {
    width: 10ch;
    font-size: 1.5vmin;
}

#reset,
#reset-all {
    width: 16ch;
    font-size: 1.5vmin;
}

input:invalid {
    background-color: pink;
}

canvas {
    display: block;
    position: absolute;
    width: 10%;
    height: 10%;
    top: 0;
    left: 0;
    z-index: -1;
}

#info {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%; /* Adjust the width as needed */
    text-align: center;
    z-index: 100;
    display: block;
    visibility: hidden; /* Change to visible to make it initially visible */
    background-color: rgba(255, 192, 203, 0.7); /* Pink transparent background */
    padding: 20px; /* Adjust padding as needed */
}

#info2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%; /* Adjust the width as needed */
  text-align: center;
  z-index: 100;
  display: block;
  visibility: hidden; /* Change to visible to make it initially visible */
  background-color: rgba(255, 192, 203);
  padding: 20px; /* Adjust padding as needed */
}


#elevatorPainel {
    position: fixed;
    display: block;
    border: 2px solid black;
    height: 350px;
    width: 250px;
    margin-top: 80px;
    padding: 10px;
    background-color: #ccc;
    font-family: sans-serif;
    visibility: hidden;
    z-index: 101;
  }

  .display-panel,
  .number-panel {
    width: 100%;
    height: 50%;
  }

  .display-panel {
    background-color: #333;
  }

  .number-panel {
    background-color: #ccc;
  }

  .floor-number {
    color: #fff;
    height: 100%;
    width: 48%;
    display: inline-block;
    text-align: center;
    font-size: 8em;
  }

  .lights {
    height: 100%;
    width: 48%;
    display: inline-block;
    float: right;
  }

  .up,
  .down {
    height: 50px;
    width: 50px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }

  .up {
    background-color: #0f0;
  }

  .down {
    background-color: #f00;
  }

  .upper,
  .lower {
    width: 100%;
    height: 50%;
    text-align: center;
    display: block;
  }

  .lightOff {
    background-color: #ccc;
  }

  .number-button {
    height: 48px;
    width: 48px;
    display: inline-block;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 2.25em;
    margin: 20px;
    /* background-color: #fff; */
  }
  .number-button:hover {
    background-color: yellow
}

#video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

