<h1>Create Backoffice User</h1>

<form [formGroup]="createForm" (ngSubmit)="onSubmit()">
    <div class="form__group field">
        <input type="text" class="form__field" id='name'  formControlName="name">
        <label for="name" class="form__label">Name</label>
    </div>
    
    <div class="form__group field">
        <input type="text" class="form__field" id='email' formControlName="email" required/>
        <label for="email" class="form__label">Email</label>
    </div>

    <div class="form__group field">
        <input type="text" class="form__field" id='phoneNumber' formControlName="phoneNumber">
        <label for="phoneNumber" class="form__label">Phone Number</label>
    </div>

    <div class="form__group field">
        <input type="password" class="form__field" id='password' formControlName="password">
        <label for="password" class="form__label">Password</label>
    </div>

    <div class="form__group field">
        <select class="form_select" formControlName="role" >
            <option value="">--Select a role--</option>
            <option *ngFor="let role of roleTypes" [value]="role.toString()">{{ role.toString() }}</option>
        </select>
    </div>

    <div>
        <button>Create</button>
    </div>
</form>
