<h1>Task list</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
<div class="form__group field">
    <label for="start" class="form__label">Select a Task State:</label>
    <select class="form_select" (change)="onchange($event)">
        <option></option>
        <option>Pending</option>
        <option>Accepted</option>
        <option>Rejected</option>
        <option>Done</option>    
    </select>

    <label for="start" class="form__label" style="margin-left: 35%;">Select a robot type:</label>
    <select class="form_select" formControlName="robotTypeID" style="margin-left: 5%">
        <option></option>
        <option *ngFor="let type of robotTypes" [value]="type.robotTypeID">{{ type.robotTypeID }}</option>
    </select>

    <label for="start" class="form__label"  style="margin-left: 70%;">Select a User:</label>
    <select class="form_select" formControlName="user" style="margin-left: 5%">
        <option></option>
        <option *ngFor="let user of users" [value]="user.email">{{ user.email }}</option>
    </select>
</div>

<div class="form__group field">
    <label for="start" class="form__label">Start date:</label>
    <input type="date"  formControlName="initialDate" value="2024-01-01" min="2023-01-01" max="2024-12-31" />

    <label for="start" class="form__label" style="margin-left: 26%;">End date:</label>
    <input  style="margin-left: 5%;" type="date"  formControlName="finalDate" value="2024-01-01" min="2023-01-01" max="2024-12-31" />
</div>

<button>Search</button>
</form>

<div style="margin-top: 20px;">
    <h3>Survelliance Tasks</h3>
<table>
    <thead>
    <tr class="table100-head">
        <th class="column1">ID</th>
        <th class="column2">Description</th>
        <th class="column3">Type</th>
        <th class="column4">State</th>
        <th class="column5">Pickup room</th>
        <th class="column6">Delivery room</th>
        <th class="column7">Building</th>
        <th class="column8">Floor</th>
        <th class="column9">Contact</th>
        <th class="column10">Requester</th>
        <th class="column11">Request date</th>
        <th class="column12">Robot type</th>
        <th class="column13">Robot</th>
        <th class="column14">Path</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let task of floorSurvellianceTasks">
        <td class="column1">{{task.id}}</td>
        <td class="column2">{{task.taskDescription}}</td>
        <td class="column3">{{task.taskType}}</td>
        <td class="column4">{{task.taskState}}</td>
        <td class="column5">{{task.taskPickupRoom}}</td>
        <td class="column6">{{task.taskDeliveryRoom}}</td>
        <td class="column7">{{task.taskBuilding}}</td>
        <td class="column8">{{task.taskFloor}}</td>
        <td class="column9">{{task.taskContact}}</td>
        <td class="column10">{{task.taskRequester}}</td>
        <td class="column11">{{task.taskRequestDate}}</td>
        <td class="column12">{{task.taskRobotType}}</td>
        <td class="column13">{{task.taskRobot}}</td>
        <td class="column14">{{task.taskPath}}</td>
    </tr>
    </tbody>
</table>
</div>

<div style="margin-top: 20px;">
    <h3>Pickup And Delivery Tasks</h3>
    <table>
        <thead>
        <tr class="table100-head">
            <th class="column1">ID</th>
            <th class="column2">Description</th>
            <th class="column3">Type</th>
            <th class="column4">State</th>
            <th class="column5">Pickup room</th>
            <th class="column6">Delivery room</th>
            <th class="column7">PickupContact</th>
            <th class="column8">DeliveryContact</th>
            <th class="column9">PickupCode</th>
            <th class="column10">Requester</th>
            <th class="column11">Request date</th>
            <th class="column12">Robot type</th>
            <th class="column13">Robot</th>
            <th class="column14">Path</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let task of floorPickupDeliveryTasks">
            <td class="column1">{{task.id}}</td>
            <td class="column2">{{task.taskDescription}}</td>
            <td class="column3">{{task.taskType}}</td>
            <td class="column4">{{task.taskState}}</td>
            <td class="column5">{{task.taskPickupRoom}}</td>
            <td class="column6">{{task.taskDeliveryRoom}}</td>
            <td class="column7">{{task.taskPickupContact}}</td>
            <td class="column8">{{task.taskDeliveryContact}}</td>
            <td class="column9">{{task.taskPickupCode}}</td>
            <td class="column10">{{task.taskRequester}}</td>
            <td class="column11">{{task.taskRequestDate}}</td>
            <td class="column12">{{task.taskRobotType}}</td>
            <td class="column13">{{task.taskRobot}}</td>
            <td class="column14">{{task.taskPath}}</td>
        </tr>
        </tbody>
    </table>
    </div>