<div class="view">
  <div class="content">
    <div class="sub-title">
      <h2>Who is responsive for data treatment</h2>
    </div>

    <div class="paragraph">
      <p>RodDroneGo, S.A, based in Porto, is responsible for collecting and processing personal
        data. The company has designated a Data Protection Officer, who is responsible
        for ensuring compliance with the GDPR. To contact the company we suggest to
        do so via email to geral&commat;robdronego.pt</p>
    </div>

    <div class="sub-title">
      <h2>Why is my data collected and how is it going to be used</h2>
    </div>

    <div class="paragraph">
      <p>RobDroneGo is committed to only processing personal data strictly necessary for the operation of our solution. The personal data we will collect for each process includes:</p>
      <p>Client Program RobDroneGo:</p>
      <p>- Identification data: name.</p>
      <p>- Contact data: mobile number, email, taxpayer number.</p>
      <p>These data are collected with the purpose of identifying each of our users and communicating with them in the event of any irregularity with their user account.</p>
      <p>Video surveillance and image capture:</p>
      <p>- Our robots and drones offer the possibility to record video and capture images inside the campus to ensure its security.</p>
      <p>Object request:</p>
      <p>- Location data: current location.</p>
      <p>These data are collected to be able to calculate the path that any of our robots have to follow in order to deliver your order.</p>

    </div>


    <div class="sub-title">
      <h2>Which are my rights</h2>
    </div>

    <div class="paragraph">
      <p>In general, the person to whom personal data relates has the following rights with
        regard to data protection: the right to access information, the right to correct
        incorrect data, the right to request the deletion of data, the right to restrict
        processing, the right to data portability, the right to object to processing and
        the right not to be subject to automated decisions. If you have previously consented
        to the specific processing of your personal data, you have the right to withdraw that
        consent at any time. To exercise any of these rights, you must send an email with the
        rights you wish to withdraw to geral&commat;robdronego.pt.
        After sending, RobDroneGo will analyze your email and assess its relevance, responding in a timely manner. If
        necessary, the person to whom the personal data relates may also contact the Data Protection Officer.</p>
    </div>

    <div class="sub-title">
      <h2>How long my data is preserved</h2>
    </div>

    <div class="paragraph">
      <p>RobDroneGo only retains personal data for the period strictly necessary to fulfill
        the services identified above, within legal limits, or until the right to opposition or
        right to erasure is exercised. Once the defined retention period has expired,
        RobDroneGo undertakes to eliminate, destroy or anonymize your personal data. To this
        end, RobDroneGo uses physical or digital destruction methods that guarantee the
        irreversibility of personal data. RobDroneGo retains personal data as long as the
        individual is associated with the organization. Regarding video surveillance, we only
        retain personal data for a period of 30 days, as required by law.</p>
    </div>
</div>

</div>
<a [routerLink]="['/home']">Back</a>
