<div class="view">
    <div class="content">
        <div class="sub-title">
            <h2>Who is responsive for data treatment</h2>
        </div>

        <div class="responsible">
            <p>RodDroneGo, S.A, based in Porto, is responsible for collecting and processing personal
                data. The company has designated a Data Protection Officer, who is responsible
                for ensuring compliance with the GDPR. To contact the company we suggest to
                do so via email to geral&commat;robdronego.pt</p>
        </div>
    </div>
</div>

<a [routerLink]="['/home']">Back</a>