<div class="view">
    <div class="content">
        <div class="sub-title">
            <h2>Who is responsive for data treatment</h2>
        </div>

        <div class="paragraph">
            <p>RodDroneGo, S.A, based in Porto, is responsible for collecting and processing personal
                data. The company has designated a Data Protection Officer, who is responsible
                for ensuring compliance with the GDPR. To contact the company we suggest to
                do so via email to geral&commat;robdronego.pt</p>
        </div>

        <div class="sub-title">
            <h2>Which are my rights</h2>
        </div>

        <div class="paragraph">
            <p>In general, the person to whom personal data relates has the following rights with
                regard to data protection: the right to access information, the right to correct
                incorrect data, the right to request the deletion of data, the right to restrict 
                processing, the right to data portability, the right to object to processing and 
                the right not to be subject to automated decisions. If you have previously consented 
                to the specific processing of your personal data, you have the right to withdraw that 
                consent at any time. To exercise any of these rights, you must send an email with the 
                rights you wish to withdraw to geral&commat;robdronego.pt.
                After sending, RobDroneGo will analyze your email and assess its relevance, responding in a timely manner. If necessary, the person to whom the personal data relates may also contact the Data Protection Officer.</p>
        </div>
    </div>
</div>

<a [routerLink]="['/home']">Back</a>