<h1>Edit Floor</h1>

<select [(ngModel)]="id">
    <option value="">Select a building</option>
    <option *ngFor="let building of buildings" [value]="building.buildingCode">{{ building.buildingCode }}</option>
</select>
<button (click)="listAllFloors()">Search</button>

<div>
    <table>
        <thead>
            <tr class="table100-head">
                <th class="column1">ID</th>
                <th class="column2">Number</th>
                <th class="column3">Description</th>
                <th class="column4">Map</th>
                <th class="column5"></th>
            </tr>
        </thead>

        <tbody *ngFor="let floor of floors; let i = index">
            <tr>
                <td class="column1">{{ floor.floorId }}</td>
                <td class="column2">{{ floor.floorNumber }}</td>
                <td class="column3">{{ floor.floorDescription }}</td>
                <td class="column4">{{ floor.floorMap }}</td>
                <td class="column5"><button type="button" class="button" (click)="toggleExpansion(i, floor)">Edit</button></td>
            </tr>

            <div class="editForm" *ngIf="expanded[i]">
                <form [formGroup]="editForm" (ngSubmit)="save(); toggleExpansion(i, floor)">
                    <div class="form__group field">
                        <input type="text" class="form__field" id='floorId' formControlName="floorId" [readOnly]="true" />
                        <label for="floorId" class="form__label">FloorId</label>
                    </div>
                    <div class="form__group field">
                        <input type="number" class="form__field" id='floorNumber' formControlName="floorNumber"/>
                        <label for="floorNumber" class="form__label">floorNumber</label>
                    </div>            
                    <div class="form__group field">
                        <input type="text" class="form__field" id='description' formControlName="description"/>
                        <label for="description" class="form__label">Description</label>
                    </div>       
                    <button>Submit</button>
                </form>
            </div>
        </tbody>   
    </table>
</div>