.site {
    height: 100vh;
}

.title {
    height: 5%;
    background-color: #e63946;
    padding: 6px;
    padding-bottom: 10px;
}

.page {
    display: flex;
    height: 100%;
}

.sideBar {
    height: 100%;
}

.content {
    width: 100vw;
}
