<h1>Edit Passageways</h1>
<div class="form__group field">
  <input type="text" class="form__field" placeholder="Name" name="name" id='name' required />
  <label for="name" class="form__label">PassagewayID</label>
</div>
<div class="form__group field">
  <input type="text" class="form__field" placeholder="Name" name="name" id='name' required />
  <label for="name" class="form__label">Floor1ID</label>
</div>
<div class="form__group field">
  <input type="text" class="form__field" placeholder="Name" name="name" id='name' required />
  <label for="name" class="form__label">Floor2ID</label>
</div>
<div>
  <button>Edit</button>
</div>
