<h1>Edit Building</h1>

<div>
    <table>
        <thead>
            <tr class="table100-head">
                <th class="column1">Code</th>
                <th class="column2">Name</th>
                <th class="column3">Description</th>
                <th class="column4">Length</th>
                <th class="column5">Width</th>
                <th class="column6">Floors</th>
                <th class="column6"></th>
            </tr>
        </thead>
        <tbody *ngFor="let building of buildings; let i = index">
            <tr>
                <td class="column1">{{ building.buildingCode }}</td>
                <td class="column2">{{ building.buildingName }}</td>
                <td class="column3">{{ building.buildingDescription }}</td>
                <td class="column4">{{ building.buildingLength }}</td>
                <td class="column5">{{ building.buildingWidth }}</td>
                <td class="column6">{{ building.buildingFloors }}</td>
                <td><button type="button" class="button" (click)="toggleExpansion(i, building)">Edit</button></td>
            </tr>

            <div class="editForm" *ngIf="expanded[i]">
                <form [formGroup]="editForm" (ngSubmit)="save(); toggleExpansion(i, building)">
                    <div class="form__group field">
                        <input type="text" class="form__field" id='code' formControlName="code" [readOnly]="true" />
                        <label for="code" class="form__label">Building Code</label>
                    </div>

                    <div class="form__group field">
                        <input type="text" class="form__field" id='name' formControlName="name"/>
                        <label for="name" class="form__label">Name</label>
                    </div>

                    <div class="form__group field">
                        <input type="text" class="form__field" id='description' formControlName="description"/>
                        <label for="description" class="form__label">Description</label>
                    </div>

                    <div class="form__group field">
                        <input type="number" class="form__field" id='length' formControlName="length"/>
                        <label for="length" class="form__label">Length</label>
                    </div>

                    <div class="form__group field">
                        <input type="number" class="form__field" id='width' formControlName="width"/>
                        <label for="width" class="form__label">Width</label>
                    </div>

                    <div class="form__group field">
                        <input type="number" class="form__field" id="floors" formControlName="floors" [readOnly]="true"/>
                        <label for="width" class="form__label">Floors</label>
                    </div>

                    <button>Submit</button>
                </form>
            </div>
        </tbody>
    </table>
</div>